<div class="login-container">

  <mat-card class="login-card">

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="hidePassword() ? 'password' : 'text'"
               formControlName="password">

        <button mat-icon-button matSuffix type="button"
                (click)="hidePassword.set(!hidePassword())">
          <mat-icon>
            {{ hidePassword() ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </mat-form-field>

      <!-- Button -->
      <button mat-raised-button color="primary"
              class="full-width"
              type="submit"
              [disabled]="loginForm.invalid">
        Login
      </button>

    </form>

  </mat-card>

</div>
